<XmltoJava name="Canvas_Automation">
    <suite suitename="Login-TC" classname="Testcases">
  <parameter name="InvalidLogin_ValidUsername_With_EmptyPassword" testcase="invalidLoginWithvalidUsernameEmptyPassword" username="lakshmi@boomerangcommerce.com" password="" actualerrormessage="Username/Password is not correct. Maximum 5 retries allowed"  startdate="" enddate="" text="" />
	 <parameter name="InvalidLogin_EmptyUsername_With_EmptyPassword" testcase="invalidLoginWithEmptyUsernameEmptyPassword" username="" password="" actualerrormessage="Username field is blank"  startdate="" enddate="" text="" />
	  <parameter name="InvalidLogin_InvalidUsername_With_InvalidPassword" testcase="invalidLoginWithInvalidUsernameinvalidPassword" username="invalid" password="invalid" actualerrormessage="Username/Password is not correct. Maximum 5 retries allowed"  startdate="" enddate="" text="" />
	 <!--  <parameter name="InvalidLogin_For_AccountLock" testcase="invalidLoginWithAccountLock" username="" password="" actualerrormessage="Username field is blank"  startdate="" enddate="" text="" />
	 -->  <parameter name="ValidLogin_ValidUsername_With_ValidPassword" testcase="validLogin" username="lakshmi@boomerangcommerce.com" password="Boomerang@123" actualerrormessage=""  startdate="" enddate="" text="" />
	   </suite>  
	<suite suitename="HeaderWidget" classname="Testcases">
	 <parameter name="Sending_startdate_enddate" testcase="sentDates" username="" password="" actualerrormessage="" startdate="11/21/2016" enddate="04/18/2017" text="" />
 	 <parameter name="Validate_HeaderWidget_TextPresent_For_Revenue" testcase="isHeaderRevenueTextPresent" username="" password="" actualerrormessage=""  startdate="" enddate="" text="REVENUE" />
 	   <parameter name="Validate_HeaderWidget_Value_For_Revenue" testcase="getRevenueValueInDollars" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
	  <parameter name="Validate_HeaderWidget_Value_For_Revenue_YOY" testcase="getRevenuePercentYoY" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
	 <parameter name="Validate_HeaderWidget_Value_For_Revenue_PVP" testcase="getRevenuePercentPvP" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
	  <parameter name="Validate_HeaderWidget_TextPresent_For_Margin" testcase="isHeaderMarginTextPresent" username="" password="" actualerrormessage=""  startdate="" enddate="" text="MARGIN" /> 
	 <parameter name="Validate_HeaderWidget_Value_For_Margin" testcase="getMarginValueInDollars" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
	 <parameter name="Validate_HeaderWidget_Value_For_Margin_YOY" testcase="getMarginPercentYoY" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
	 <parameter name="Validate_HeaderWidget_Value_For_Margin_PVP" testcase="getMarginPercentPvP" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
	</suite>  
	     <suite suitename="ScoreboardWidget" classname="Testcases">
	 <parameter name="Sending_startdate_enddate" testcase="sentDates" username="" password="" actualerrormessage="" startdate="11/21/2016" enddate="04/18/2017" text="" />
 	   <parameter name="Validate_ScoreboardWidget_TextPresent_For_Margin" testcase="isMarginTextPresent" username="" password="" actualerrormessage=""  startdate="" enddate="" text="MARGIN" />    
	  <parameter name="Validate_ScoreboardWidget_Value_For_Margin" testcase="getMarginValue" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
	 <parameter name="Validate_ScoreboardWidget_Value_For_Margin_YOY" testcase="getMarginYoYPercent" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
	 <parameter name="Validate_ScoreboardWidget_Value_For_Margin_PVP" testcase="getMarginPVPPercent" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
	<parameter name="Validate_ScoreboardWidget_TextPresent_For_Revenue" testcase="isRevenueTextPresent" username="" password="" actualerrormessage=""  startdate="" enddate="" text="REVENUE" />
	 <parameter name="Validate_ScoreboardWidget_Value_For_Revenue" testcase="getRevenueValue" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
	  <parameter name="Validate_ScoreboardWidget_Value_For_Revenue_YOY" testcase="getRevenueYoYPercent" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
	 <parameter name="Validate_ScoreboardWidget_Value_For_Revenue_PVP" testcase="getRevenuePvPPercent" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
	 <parameter name="Validate_ScoreboardWidget_TextPresent_For_Units" testcase="isUnitsTextPresent" username="" password="" actualerrormessage=""  startdate="" enddate="" text="UNITS" />
	 <parameter name="Validate_ScoreboardWidget_Value_For_Units" testcase="getUnitsValue" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
	 <parameter name="Validate_ScoreboardWidget_Value_For_Units_YOY" testcase="getUnitsYoYPercent" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
	 <parameter name="Validate_ScoreboardWidget_Value_For_Units_PVP" testcase="getUnitsPvPPercent" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
	  <parameter name="Validate_ScoreboardWidget_TextPresent_For_AVGSalePrice" testcase="isAvgSalePriceTextPresent" username="" password="" actualerrormessage=""  startdate="" enddate="" text="AVG SALE PRICE" />
	 <parameter name="Validate_ScoreboardWidget_Value_For_AVGSalePrice" testcase="getAvgSalePriceValue" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
	 <parameter name="Validate_ScoreboardWidget_Value_For_AVGSalePrice_YOY" testcase="getAvgSalePriceYoYPercent" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
	 <parameter name="Validate_ScoreboardWidget_Value_For_AVGAsalePrice_PVP" testcase="getAvgSalePricePvPPercent" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
	 <parameter name="Validate_ScoreboardWidget_TextPresent_For_Conversion" testcase="isConversionPresent" username="" password="" actualerrormessage=""  startdate="" enddate="" text="CONVERSION" />
	  <parameter name="Validate_ScoreboardWidget_Value_For_Conversion" testcase="getConversionValue" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
	  <parameter name="Validate_ScoreboardWidget_Value_For_Conversion_YOY" testcase="getConversionYoYPercent" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
	 <parameter name="Validate_ScoreboardWidget_Value_For_Conversion_PVP" testcase="getConversionPvPPercent" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
	 <parameter name="Validate_ScoreboardWidget_TextPresent_For_PageViews" testcase="isPageViewsPresent" username="" password="" actualerrormessage=""  startdate="" enddate="" text="PAGEVIEWS" />
	 <parameter name="Validate_ScoreboardWidget_Value_For_PageViews" testcase="getPageViewsValue" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
	 <parameter name="Validate_ScoreboardWidget_Value_For_PageViews_YOY" testcase="getPageViewsYoYPercent" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
	  <parameter name="Validate_ScoreboardWidget_Value_For_PageViews_PVP" testcase="getPageViewsPvPPercent" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
	  <parameter name="Validate_ScoreboardWidget_TextPresent_For_UnitsPerOrder" testcase="isUnitsPerOrder" username="" password="" actualerrormessage=""  startdate="" enddate="" text="UNITS PER ORDER" />
 	<parameter name="Validate_ScoreboardWidget_Value_For_UnitsPerOrder" testcase="getUnitsPerOrderValue" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
  	<parameter name="Validate_ScoreboardWidget_Value_For_UnitsPerOrder_YOY" testcase="getUnitsPerOrderYoYPercent" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
	<parameter name="Validate_ScoreboardWidget_Value_For_UnitsPerOrder_PVP" testcase="getUnitsPerOrderPvPPercent" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
	</suite> 
	<suite suitename="BigMovers" classname="Testcases">
	 <parameter name="Sending_startdate_enddate" testcase="sentDates" username="" password="" actualerrormessage="" startdate="11/21/2016" enddate="04/18/2017" text="" />
	 <parameter name="Validate_BigMovers_TextPresent_For_BigMovers" testcase="isBigmoversTextpresent" username="" password="" actualerrormessage=""  startdate="" enddate="" text="BIG MOVERS" />
 	 <parameter name="Validate_BigMovers_TextPresent_For_All" testcase="isBigmoversAllTextpresent" username="" password="" actualerrormessage=""  startdate="" enddate="" text="ALL" />
	  <parameter name="Validate_BigMovers_TextPresent_For_Winners" testcase="isBigmoversWinnnersTextpresent" username="" password="" actualerrormessage=""  startdate="" enddate="" text="WINNERS" />
	 <parameter name="Validate_BigMovers_TextPresent_For_Losers" testcase="isBigmoversLosersTextpresent" username="" password="" actualerrormessage=""  startdate="" enddate="" text="LOSERS" />
	  <parameter name="Validate_BigMovers_TextPresent_For_Categories" testcase="isBigmoversCategoriesTextpresent" username="" password="" actualerrormessage=""  startdate="" enddate="" text="CATEGORIES" /> 
	 <parameter name="Validate_BigMovers_TextPresent_For_Brands" testcase="isBigmoversBrandsTextpresent" username="" password="" actualerrormessage=""  startdate="" enddate="" text="BRANDS" />
	 <parameter name="Validate_BigMovers_Losers_All_Text_Data" testcase="getbigmoversallLosersdata" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
 	  <parameter name="Validate_BigMovers_Winners_All_Text_Data" testcase="getbigmoversallWinnersdata" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
	 <parameter name="Validate_BigMovers_Winners_Categories_Text_Data" testcase="getbigmoversCategoriesWinnersdata" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
 	  <parameter name="Validate_BigMovers_Winners_Brands_Text_Data" testcase="getbigmoversBrandsWinnersdata" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
	 <parameter name="Validate_BigMovers_Losers_Categories_Text_Data" testcase="getbigmoversCategoriesLosersdata" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
 	  <parameter name="Validate_BigMovers_Losers_Brands_Text_Data" testcase="getbigmoversBrandsLosersdata" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
	<parameter name="Validate_BigMovers_Losers_All_YOY_Data" testcase="getBigmoversLosersallYOYvalue" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
	 <parameter name="Validate_BigMovers_Losers_Categories_YOY_Data" testcase="getBigmoversLoserscategoriesYOYvalue" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
	 <parameter name="Validate_BigMovers_Losers_Brands_YOY_Data" testcase="getBigmoversLosersbrandsYOYvalue" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
	 <parameter name="Validate_BigMovers_Winners_All_YOY_Data" testcase="getBigmoversWinnersallYOYvalue" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
	 <parameter name="Validate_BigMovers_Winners_Categories_YOY_Data" testcase="getBigmoversWinnerscategoriesYOYvalue" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
	 <parameter name="Validate_BigMovers_Winners_Brands_YOY_Data" testcase="getBigmoversWinnersbrandsYOYvalue" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
	 <parameter name="Validate_BigMovers_Losers_All_PVP_Data" testcase="getBigmoversLosersallPVPvalue" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
	 <parameter name="Validate_BigMovers_Losers_Categories_PVP_Data" testcase="getBigmoversLoserscategoriesPVPvalue" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
	 <parameter name="Validate_BigMovers_Losers_Brands_PVP_Data" testcase="getBigmoversLosersbrandsPVPvalue" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
	 <parameter name="Validate_BigMovers_Winners_All_PVP_Data" testcase="getBigmoversWinnersallPVPvalue" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
	 <parameter name="Validate_BigMovers_Winners_Categories_PVP_Data" testcase="getBigmoversWinnerscategoriesPVPvalue" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
	 <parameter name="Validate_BigMovers_Winners_Brands_PVP_Data" testcase="getBigmoversWinnersbrandsPVPvalue" username="" password="" actualerrormessage=""  startdate="" enddate="" text="" />
	 
	 </suite> 
  </XmltoJava>